* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:root {
  --pink: hsl(326.6, 100%, 50%);
  --yellow: hsl(46.7, 100%, 55.9%);
  --s: 25vmin;
  --p: calc(var(--s) / 2);
  --c1: hsl(46.7, 100%, 55.9%);
  --c2: hsl(326.6, 100%, 50%);
  --c3: hsl(240, 5.3%, 7.5%);
  --bg: var(--c3);
  --d: 4000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);
}

body {
  color: hsl(240, 9.1%, 89.2%);
  background: hsl(240, 5.3%, 7.5%);
}